.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tagLine {
  background: #2d6fb6;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 2px 24px;
}
